doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // bootstrap css
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css", rel="stylesheet")
    // bootstrap js and popper
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js")  
    link(rel='icon', href='/images/logo.png', type='image/x-icon')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/date-fns/2.23.0/index.umd.min.js')
  body
    header.p-3.text-bg-dark
      .container
        .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
          a.d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none(href='/')
            svg.bi.me-2(width='40', height='32', role='img', aria-label='Bootstrap')
              use(xlink:href='#bootstrap')
          ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
            li
              a.nav-link.px-2.text-white(href='#')
              h2#pageTitle Ticketpool
          form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3(role='search')
            input.form-control.form-control-dark.text-bg-dark(type='search', placeholder='Search...', aria-label='Search')
          .text-end
            a.btn.btn-outline-light.me-2(href='/registro') Login
            a.btn.btn-outline-danger(href='/registro') Sing in
    //carrusel
    #myCarousel.carousel.slide.mb-6.pointer-event(data-bs-ride='carousel')
      .carousel-indicators
        each evento, index in eventos
          button(type='button', data-bs-target='#myCarousel', data-bs-slide-to=index, aria-label=`Slide ${index + 1}`, aria-current=index === 0 ? 'true' : 'false')
      .carousel-inner
        each evento, index in eventos
          .carousel-item(class=index === 0 ? 'active' : '')
            img(src=evento.imagen, alt=`Slide ${index + 1}`, width='100%', height='100%')
            .container
              .carousel-caption(class=index === 0 ? 'text-start' : 'text-end')
                h1= evento.nombre
                p.opacity-75= evento.fecha
                p
                  a.btn.btn-lg.btn-danger(href=`/segunda?id=${evento._id}`) Comprar 
      button.carousel-control-prev(type='button', data-bs-target='#myCarousel', data-bs-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.visually-hidden Previous
      button.carousel-control-next(type='button', data-bs-target='#myCarousel', data-bs-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.visually-hidden Next

    // Opciones de conciertos de cada recomendación de botón
    .album.py-5.bg-body-tertiary
      .pb-2.border-bottom
        h3(style='text-align: center;') Eventos Disponibles
        .container
          .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3
            each evento in eventos
              .col
                .card.shadow-sm
                  a(href=evento.imagen)
                    img.card-img-top.mx-auto(src=evento.imagen, alt=evento.nombre, width='100%', height='225')
                  .card-body
                    p.card-text= evento.nombre
                    .d-flex.justify-content-between.align-items-center
                      .btn-group
                        a.btn.btn-sm.btn-outline-secondary(href=`/segunda?id=${evento._id}`) Ver 
                      small.text-body-secondary= evento.fecha

    //Servicios
    .container(data-aos='fade-up')
        .section-title
          h1.display-5.fw-bold.text-body-emphasis Servicios Ticketpool
          p
            | Ticketpool quiere que tú tengas una experiencia única e inigualable. Te presentamos nuestros servicios para ustedes.
        .row.align-items-md-stretch
          .col-md-6
            .h-100.p-5.text-bg-dark.rounded-3
              h2 Publica tu evento
              p
                | Crea tu comunidad. Aquí podrás publicar tu evento para que muchos puedan asistir. Solo tienes que llenar el formulario y tu evento estará publicado.
              a.btn.btn-outline-light(href='/eventos') Nuevo Evento
          .col-md-6
            .h-100.p-5.bg-body-tertiary.border.rounded-3
              h2 ¿Tienes algún inconveniente?
              p
                | Bienvenido a nuestro servicio al cliente si tienes alguna duda puedes completar el formulario y nosotros nos comunicaremos contigo al instante.
              a.btn.btn-outline-secondary(href='/comentarios') Preguntanos

    //Fotter
    .container
      footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top
        .col-md-4.d-flex.align-items-center
          a.mb-3.me-2.mb-md-0.text-body-warning.text-decoration-none.lh-1(href='/')
          span.mb-3.mb-md-0.text-body-warning &copy; 2023 Desarrollo Web 3
        ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex
          li.ms-3
            a.text-body-warning(href='#')
              svg.bi(width='24', height='24')
                use(xlink:href='#twitter')
          li.ms-3
            a.text-body-warning(href='#')
              svg.bi(width='24', height='24')
                use(xlink:href='#instagram')
          li.ms-3
            a.text-body-warning(href='#')
              svg.bi(width='24', height='24')
                use(xlink:href='#facebook')
                
    